<div class="border-stone-700 border-solid border-2 flex flex-row h-40 min-h-40 max-h-40 justify-center shadow-md shadow-stone-900">
  <div data-role="icon" class="px-2 min-w-24 h-full bg-stone-400 flex justify-center items-center">🎹</div>
  <div class="p-4 text-stone-300 flex-auto flex flex-col gap-4">
    <%= link_to item.name, item, class: "text-3xl font-semibold"%>
    <p><%= item.description %></p>
  </div>
</div>