<%= turbo_frame_tag 'modal_container', "data-modal-target" => "modal_container", class: 'hidden' do %>
  <div class="h-full w-full absolute top-0 bg-stone-900 bg-opacity-90 z-10 p-6 flex flex-col justify-center items-center">
    <div class="bg-stone-800 border-stone-700 rounded border-solid border-2 p-4 flex flex-col min-h-40 w-full justify-center items-center shadow-md shadow-stone-900"
    >
      <%= turbo_frame_tag 'modal_content' %>
    </div>
  </div>
<% end %>
