<header class="text-3xl drop-shadow-xl font-extrabold tracking-tighter flex mb-4">
  <div class="flex w-[115px] h-[7rem] pb-[1.5px] pt-[17.5px] mr-[-7px]">
    <div class="flex-auto bg-purple-700"></div>
    <div class="flex-auto bg-pink-700"></div>
    <div class="flex-auto bg-red-700"></div>
    <div class="flex-auto bg-orange-700"></div>
    <div class="flex-auto bg-stone-400"></div>
  </div>
  <h1 class="text-9xl">hajou</h1>
</header>
<%= link_to 'Enter the dojo →', '/habits', class: 'text-orange-400 hover:text-red-400 visited:text-pink-500 underline'%>