<div class="p-2">
  <h2 class="text-l"><%= @habit.name %></h2>
  <p><%= @habit.description %></p>

  <div>
    <%= link_to 'Edit', edit_habit_path(@habit) %>
  </div>
  
  <div>
    <%= link_to 'Destroy', habit_path(@habit), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure?'
    } %>
  </div>
</div>
